h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 425;
}

p {
    text-align: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 370;
}